version: '3'
services:
  redis4proxypool:
    image: redis:alpine
    container_name: redis4proxypool
    command: redis-server
    ports:
      - "6379:6379"
  #    restart: always
  proxypool:
    build: .
    image: 'germey/proxypool'
    container_name: proxypool
    ports:
      - "5555:5555"
    restart: always
    #    volumes:
    #      - proxypool/crawlers/private:/app/proxypool/crawlers/private
    environment:
      REDIS_HOST: redis4proxypool