[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
redis = "==2.10.5"
requests = "==2.13.0"
pyquery = "==1.2.17"
Flask = "==0.11.1"
aiohttp = "==3.5.4"

[requires]
python_version = "3.7"
