environs==9.3.0
Flask==1.1.2
attrs==20.3.0
retrying==1.3.3
aiohttp==3.7.4
requests==2.25.1
loguru==0.5.3
pyquery==1.4.3
supervisor==4.2.1
redis==3.5.3
lxml==4.6.3
fake_headers==1.0.2
maxminddb_geolite2==2018.703
